mixin footer
  footer.footer.container
    .wrapper
      .footer__top
        .footer__info
          .footer__logo
          nav.footer__nav
            a(href="policy.html").footer__nav-link Политика конфиденциальности
            a(href="policy.html").footer__nav-link Условия и положения
            a(href="#").footer__nav-link FAQ
        a(href="#").footer__btn Мы в Telegram
      .footer__bottom
        p.footer__copyright 2020 All rights reserved
        .footer__payments
          .footer__payment(data-method="gpwa")
          .footer__payment(data-method="visa")
          .footer__payment(data-method="mastercard")
          .footer__payment(data-method="webmoney")
          .footer__payment(data-method="paypal")