mixin policy
  section.policy.container
    .wrapper
      .policy__block
        +heading('Условия и положения')
        p.policy__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id mus facilisi faucibus laoreet. Diam massa facilisis aliquam massa blandit egestas. Dignissim potenti rhoncus eget viverra est facilisis tristique porttitor. Malesuada sed vel ipsum ut. Enim elit posuere nisl maecenas mattis justo, aliquam tellus suspendisse. Sed duis habitasse ac congue aliquet viverra malesuada. Leo ullamcorper viverra morbi ornare sed mauris quam habitant mauris.<br><br>Mauris sed commodo porttitor turpis dolor. Molestie gravida nulla ipsum ut consequat eget malesuada laoreet. Lobortis ut enim lorem orci. Molestie leo, euismod eget sit pulvinar id sapien viverra aliquam.<br><br>Lobortis ut enim lorem orci. Molestie leo, euismod eget sit pulvinar id sapien viverra aliquam.
      .policy__block
        +heading('Политика конфиденциальности')
        p.policy__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id mus facilisi faucibus laoreet. Diam massa facilisis aliquam massa blandit egestas. Dignissim potenti rhoncus eget viverra est facilisis tristique porttitor. Malesuada sed vel ipsum ut. Enim elit posuere nisl maecenas mattis justo, aliquam tellus suspendisse. Sed duis habitasse ac congue aliquet viverra malesuada. Leo ullamcorper viverra morbi ornare sed mauris quam habitant mauris.<br><br>Mauris sed commodo porttitor turpis dolor. Molestie gravida nulla ipsum ut consequat eget malesuada laoreet. Lobortis ut enim lorem orci. Molestie leo, euismod eget sit pulvinar id sapien viverra aliquam.