include ../_ui/heading/heading

mixin faq
  section.faq.container
    .wrapper
      +heading('Ответы на вопросы')
      .faq__item
        .faq__item-head
          p.faq__item-head-text Партнерская программа
          .faq__item-head-icon
        .faq__item-content
          .faq__item-grid
            .faq__item-col
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Партнерская программа
                  .faq__inner-head-icon
                p.faq__inner-content Партнерская программа – это оптимальная система маркетинга, которую используют вебмастеры и компании (у которых есть свои веб-ресурсы и инструменты) для продвижения и предложения своей аудитории ведущих гемблинг брендов с высокой репутацией. После регистрации вы сразу получаете доступ в кабинет вебмастера, где на странице «Промо» найдете огромный выбор рекламных материалов и ссылок, которые можно опубликовать на ваших сайтах, блогах или в рассылках. Вы найдете баннеры в формате .jpeg, .gif или flash; демо-версии игр, целевые посадочные страницы, размещенные на наших серверах, которые обновляются автоматически, чтобы рекламировать актуальные мероприятия и акцииЕсли посетитель вашего сайта (или подписчик рассылки) становится приведенным игроком (кликнув на ваш партнерский рефкод и перейдя на сайт соответствующего казино, предложенного в нашей программе, регистрируется, делает депозиты и играет), вы зарабатываете 40-55% по программе RevShare, или получаете ранее обговоренную выплату по CPA
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Участие в программе бесплатное?
                  .faq__inner-head-icon
                p.faq__inner-content Да! Абсолютно! Участие в партнерской программе абсолютно бесплатно. Все, что вам нужно, - это зарегистрироваться и вы - партнер. Нет никаких вступительных взносов и требований к минимальному количеству игроков.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Можно ли вам доверять?
                  .faq__inner-head-icon
                p.faq__inner-content Да, безусловно. Вы должны понимать, что в игорном, да, впрочем, как и в любом онлайн-бизнесе, хорошая репутация – основа благополучия и процветания. Поэтому, прозрачность и честность – это главные правила нашей работы. Партнерская программа – это оптимальный способ сотрудничества рекламодателя и владельцев рекламных инструментов в сети Интернет. Используя предлагаемые рекламные материалы, которые предоставляет наша партнерская программа, вы можете использовать множество способов продвижения: текстовые ссылки, баннеры, рекламные статьи на сайтах и в блогах. Начните работать и уже сегодня вы сможете зарабатывать на привлечении игроков в ведущие онлайн-казино Рунета, и даже создать собственное интернет казино, чтобы рекламировать его на просторах Интернета так, как нравится вам и только вам.
            .faq__item-col
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Как стать партнером?
                  .faq__inner-head-icon
                p.faq__inner-content Стать партнером очень просто: регистрация занимает меньше 15 секунд. Просто нажмите кнопку «Регистрация» и заполните регистрационную анкету (укажите логин, пароль, источник трафика (ссылку на сайт или интернет-портал) и Ваши контактные данные (skype/icq/telegram) и телефон. Для регистрации Вы должны ознакомиться с правилами и условиями сотрудничества и принять их.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text В чем преимущество программы Gambling Club?
                  .faq__inner-head-icon
                p.faq__inner-content Вы получаете достойную прибыль по RevShare 40-60% и программам CPA за каждого игрока, которого приведете. RevShare пожизненно! На протяжении всей игры приведенных игроков Вы получаете доход! Такое количество отчетов по эффективности ваших рекламных кампаний вы больше нигде не найдете
      .faq__item
        .faq__item-head
          p.faq__item-head-text Статистика и доход
          .faq__item-head-icon
        .faq__item-content
          .faq__item-grid
            .faq__item-col
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Как часто обновляется статистика?
                  .faq__inner-head-icon
                p.faq__inner-content Статистика обновляется с промежутками от 5 до 50 минут и может меняться в течение дня. Обновление может занять до 40 минут. Не отображаться статистика может в момент сбора данных со стороны казино, но она не пропадает, а просто обновляется. В связи с таким алгоритмом работы нашей платформы лучше смотреть статистику за предыдущий день.<br><br>Доход за текущий день виден только в статистике и финализируется на утро следующего дня с 4.30 до 5 по UTC и уходит на баланс. Так происходит зачисление на баланс счета. Деньги по реферальной программе зачисляются моментально в Ваш личный кабинет системы, а при накоплении минимальной для вывода суммы, автоматически выводятся на кошелёк используемой Вами платёжной системы.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Сколько я смогу заработать?
                  .faq__inner-head-icon
                p.faq__inner-content На этот вопрос ответа не существует. Все зависит от приложенных вами сил. Много кто из наших партнеров зарабатывает десятки тысяч долларов в месяц.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text По каким схемам оплачивается заработок партнеру?
                  .faq__inner-head-icon
                p.faq__inner-content Базовые схемы по работе с партнерами:<br>1. RevShare. Вы будете получать от 40% доходов казино (По-умолчанию)<br>2. CPА предполагает фиксированную плату за регистрацию активных игроков, внесших оговоренную минимальную сумму депозита.<br>3. Dynamic Revshare:<br> - до 5 первых депозитов - 25% RevShare<br> - от 6 до 200 первых депозитов - 45% RevShare<br> - от 201+ первых депозитов - 55% RevShare<br><br>Для подключения СРА-модели нужно обратиться в службу поддержки.
            .faq__item-col
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Как происходят выплаты?
                  .faq__inner-head-icon
                p.faq__inner-content Выплаты производятся каждый понедельник автоматически. Минимальная сумма вывода - 160 рублей (или 2$) по одному проекту. По платежному методу Bitcoin и Tether минимальная сумма выплаты составляет 100$
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Как изменить платежные реквизиты?
                  .faq__inner-head-icon
                p.faq__inner-content Чтобы изменить свои реквизиты, напишите тикет-запрос в Службу поддержки. Обратите внимание, запросы на смену реквизитов принимаются вторник-пятница до 15:00! По понедельникам мы не вносим изменений в платежные реквизиты во избежание проблем с выплатами.
      .faq__item
        .faq__item-head
          p.faq__item-head-text Мой аккаунт
          .faq__item-head-icon
        .faq__item-content
          .faq__item-grid
            .faq__item-col
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Как изменить платежные реквизиты?
                  .faq__inner-head-icon
                p.faq__inner-content Чтобы изменить свои реквизиты, напишите тикет-запрос в Службу поддержки. Обратите внимание, запросы на смену реквизитов принимаются вторник-пятница до 15:00! По понедельникам мы не вносим изменений в платежные реквизиты во избежание проблем с выплатами.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Что делать, если я забыл пароль?
                  .faq__inner-head-icon
                p.faq__inner-content Для восстановления пароля в диалоговом окне авторизации, необходимо нажать на «Восстановление пароля», ввести свой e-mail, на который зарегистрирован аккаунт, и следовать инструкциям, указанным в письме. Если письмо не пришло, не забудьте проверить папку «Спам», иногда письма могут попадать туда.
            .faq__item-col
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Как изменить пароль?
                  .faq__inner-head-icon
                p.faq__inner-content Изменить пароль можно в настройках профиля. Для этого достаточно 2 раза ввести новый пароль в соответствующих полях и нажать кнопку «Выполнить».
      .faq__item
        .faq__item-head
          p.faq__item-head-text Продвижение, инструменты
          .faq__item-head-icon
        .faq__item-content
          .faq__item-grid
            .faq__item-col
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Какие принимаемые ГЕО?
                  .faq__inner-head-icon
                p.faq__inner-content Основной таргетинг наших проектов – русскоязычные игроки из стран СНГ (кроме UA), а также игроки из стран Прибалтики.<br>В то же время, по каждому проекту свой список стран для продвижения. Актуальную информацию уточняйте в Службе поддержки – команда саппорта поможет подобрать оффер и лендинги, максимально подходящие для ГЕО Вашего трафика.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Что такое рефкод?
                  .faq__inner-head-icon
                p.faq__inner-content Рефкод является главным механизмом учета привлеченных игроков и всей статистики по ним (суммы депозитов/выигрышей/проигрышей/перечень сыгранных игр) в нашей партнерской программе, по своей сути представляет собой уникальную партнерскую ссылку, самостоятельно сформированную партнером, под отдельно взятое казино. Пользователи, перешедшие по этому линку и зарегистрировавшиеся в казино в течение 30 дней с момента последнего посещения партнерского рефкода, автоматически прописываются привлеченными игроками его владельцу — с них партнер получает комиссионные.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Как сформировать новый рефкод?
                  .faq__inner-head-icon
                p.faq__inner-content В разделе «Рефкоды» надо выбрать сайт казино, куда планируется привлекать игроков. В поле «Новый рефкод» вводим любое значение, далее указываем тип программы (по умолчанию это всегда Revshare) и сохраняем.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Сколько я могу создать рефкодов?
                  .faq__inner-head-icon
                p.faq__inner-content Лимит рефкодов: 1000. Для увеличения лимита обратитесь в Службу поддержки.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Что, если у меня больше одного вебсайта?
                  .faq__inner-head-icon
                p.faq__inner-content Вы можете привлекать игроков с любого количества сайтов любой тематики.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Сколько времени хранятся cookies?
                  .faq__inner-head-icon
                p.faq__inner-content Cookies на большинстве сайтов казино-партнеров хранятся 30 дней, но для отдельных проектов жизнь cookies может доходить до 1 года.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Как отправлять трафик на любую страницу, а не только на главную?
                  .faq__inner-head-icon
                p.faq__inner-content Пример. Мы хотим отправить трафик на страницу ВСТАВИТЬ ССЫЛКУ. Для этого копируем часть из ссылки после домена без слеша games/demo/sharky_hhs, вставляем его на сайте ВСТАВИТЬ ССЫЛКУ, жмем “Encode”. Полученную строку дописываем к ссылке редиректора следующим образом: ВСТАВИТЬ ССЫЛКУ.<br>Оригинальная ссылка выглядела вот так ВСТАВИТЬ ССЫЛКУ , т.е. мы добавили часть ссылки в параметр url, который ранее был пустым.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Мне нужны постбеки, как их настроить?
                  .faq__inner-head-icon
                p.faq__inner-content Постбеки (англ. post back) - ссылки, которые будут автоматически запрошены с сервера партнерской программы при наступлении ключевых событий в конверсии. Этот инструментарий используется для отслеживания данных о конверсиях и ведения статистики на своём сервере или в трекинговой системе.<br>Для разных моделей сотрудничества мы передаем разные постбеки:<br>1. RevShare - постбеки о факте регистрации и факте первого депозита игрока.<br>2. CPA - постбеки о факте регистрации, первого депозита, квалификации игрока, подтверждении/отклонении игрока (лида).<br>Для настройки постбеков Вам нужно:<br>3. Настроить передачу параметра click_id в партнерскую ссылку Gambling Club с уникальным идентификатором клика (subid, clickid и т.д.). Подробнее об этом смотрите в пункте: «Что такое click_id»?<br>4. В своей трекинговой системе подготовить ссылки, по которым будет отстукивать постбек под каждое из событий (для регистрации - отдельная ссылка, для первого депозита - отдельная ссылка и т.д.).<br>5. Ссылка постбека может быть любой, важно лишь то, чтобы она содержала в себе параметр, в котором мы будем возвращать полученное от вас значение параметра %CLICK_ID% из первого пункта.<br>6. Создайте тикет-запрос в службу поддержки, в котором укажите по какому из проектов Вам нужно настроить постбеки, пришлите ссылки для отстука постбеков.<br>7. Важно: для корректной отправки постбеков Ваш сервер (трекинговая система) должен отдавать в ответ на постбек статус "200". В противном случае постбек отправлен не будет.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Есть ли у вас удаленная регистрация?
                  .faq__inner-head-icon
                p.faq__inner-content Да, на наших проектах поддерживается API удаленной регистрации. С помощью этого функционала Вы можете регистрировать игроков на своей стороне (например на своем сайте) и отправлять нам их регистрационные данные (e-mail и пароль). После такой регистрации игрок автоматически попадает в казино уже авторизованным и ему не нужно заново вводить свою почту и пароль для входа.<br>Документация по API удаленной регистрации высылается по запросу в службу поддержки Gambling Club (через систему тикетов). В запросе укажите, пожалуйста, под какой из наших брендов нужна документация.
            .faq__item-col
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Есть страны, где я не могу продвигать Ваши продукты?
                  .faq__inner-head-icon
                p.faq__inner-content По каждому проекту свой список стран для продвижения. Актуальную информацию уточняйте в Службе поддержки.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Как использовать мои рефкоды?
                  .faq__inner-head-icon
                p.faq__inner-content На каждый созданный рефкод можно получить уникальную ссылку либо код для баннеров, лендингов и других промо-материалов в разделе «Промо». Далее в статистике по каждому рефкоду можно отслеживать эффективность ваших рекламных кампаний.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Что такое динамический рефкод и зачем он нужен?
                  .faq__inner-head-icon
                p.faq__inner-content Динамические рефкоды используются в случаях, когда необходимо получить сразу много рефкодов. С этой целью копируется префикс напротив нужного казино в таблице динамических рефкодов, и путем дописывания к нему идентификатора Вашего источника можно составлять необходимое для работы количество рефкодов. Лимит рефкодов: 1000. Для увеличения лимита обратитесь в службу поддержки.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Могу я использовать лого и контент казино-участников программы?
                  .faq__inner-head-icon
                p.faq__inner-content Да, можете, но ТОЛЬКО в случае если содержание страницы используется в целях рекламы и контент сайта продвигаемого казино переписан.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Имеется ли у вас реферальная система?
                  .faq__inner-head-icon
                p.faq__inner-content Да. Вам будет отчисляться процент от дохода каждого привлеченного вебмастера. Процент отчислений по рефералам можно увидеть в меню «Баланс», раздел «Рефералы».
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Что такое ссылка редиректа?
                  .faq__inner-head-icon
                p.faq__inner-content Мы внедрили новую систему управления трафиком. Схемы перенаправления трафика с помощью вашей ссылки редиректора позволяют обеспечить стабильность доступа к казино. Ссылка редиректора всегда отправит игроков на незаблокированный альтернативный домен казино в случае бана основного сайта, и перенаправит на другой доступный домен при возникновении сбоев либо повышенной нагрузки на сервере. Редиректор позволяет избежать потери трафика.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Могу ли я использовать скрипт Кликандера для леднигов?
                  .faq__inner-head-icon
                p.faq__inner-content Чтобы использовать скрипт ClickUnder для лендинга, необходимо заменить ссылку с доменом в скрипте в gcClickunder на нужную вам.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Что такое Click_ID?
                  .faq__inner-head-icon
                p.faq__inner-content &click_id - это уникальный параметр, в котором Вы можете передавать на сторону партнерской программы идентификатор каждого перехода по партнерской ссылке (клика). В случае, если игрок зарегистрируется на проекте, то за ним закрепляется переданный вебмастером Click_ID и вы сможете получить постбеки о факте регистрации по конкретному Click_ID или же о факте его первого депозита. Этот параметр обязательно нужно передавать в партнерской ссылке, если Вам необходимо получать постбеки для отслеживания конверсии по разным источникам. Пример Вашей партнерской ссылки:<br>ВСТАВИТЬ ССЫЛКУ<br><br>Вместо «VALUE» Вам нужно подставлять свое значение, которое генерируется на Вашей стороне. Мы настоятельно рекомендуем шифровать его в base64 и ограничивать длиной до 256 символов. Если у Вас есть вопросы или сложности - напишите в нашу службу поддержки и мы обязательно поможем Вам разобраться и проверим корректность передачи click_id с Вашей стороны.
      .faq__item
        .faq__item-head
          p.faq__item-head-text Разное
          .faq__item-head-icon
        .faq__item-content
          .faq__item-grid
            .faq__item-col
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Я ничего не понимаю, как начать?
                  .faq__inner-head-icon
                p.faq__inner-content Чтобы легче ориентироваться в нашей системе, предлагаем Вам посмотреть видео в разделе “Поддержка”. Ссылка на видео здесь.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Я за прошлый период заработал 100 долларов по проекту gmslots.com, а на балансе у меня 50. Куда делись остальные 50 долларов?
                  .faq__inner-head-icon
                p.faq__inner-content Скорее всего ранее, например за позапрошлый период, Ваш баланс был отрицательным по данному проекту, и доход за прошлый период его перекрыл. Попробуйте посмотреть статистику за более длительный период.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Как привлекать игроков на Ваши казино?
                  .faq__inner-head-icon
                p.faq__inner-content Основные методы привлечения игроков следующие:<br>- Продвижение собственных сайтов на казино-тематику в поисковых системах<br>- Создание дорвеев.<br>- Привлечение трафика из соц.сетей (ВК, одноклассники и т.д.)<br>- Покупка трафика (арбитраж) как в рекламных сетях, так и непосредственно у владельцев сайтов.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Я хочу баннер с размерами 888x444, но у Вас такого нет. И еще мне нужен уникальный текстовый обзор казино. Что мне делать?
                  .faq__inner-head-icon
                p.faq__inner-content Активные вебмастера могут заказать у нас необходимые промо-материалы и мы их сделаем. Контакты для связи на этой странице. Текстовые обзоры проектов предоставляются вебмастерам, которые имеют более 500 уникальных посетителей в сутки на своем целевом ресурсе, либо генерируют более 20 первых депозитов в месяц в партнерской программе.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Уже обед понедельника, в разделе “Платежи” напротив выплаты стоит статус “Выполнено”, а денег на кошельке нет. Где мои деньги?
                  .faq__inner-head-icon
                p.faq__inner-content Все выплаты доходят обычно до конца дня в понедельник.
            .faq__item-col
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Если на проекте gmslots.com у меня на балансе 100 долларов, а на проекте club-vulkan.com -100 долларов, то мне ничего не выплатят?
                  .faq__inner-head-icon
                p.faq__inner-content Вам выплатят 100 долларов по проекту gmslots.com, поскольку выплаты происходят по каждому казино отдельно.<br>По проекту club-vulkan.com выплат не будет до тех пор, пока вы не выйдете из минусов по этому проекту.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Почему я не вижу промо-материалы для нужного мне казино?
                  .faq__inner-head-icon
                p.faq__inner-content Создайте рефкод в разделе Промо -> Рефкоды, и тогда все имеющиеся промо-материалы для казино станут доступны.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Какой трафик лучше всего конвертируется?
                  .faq__inner-head-icon
                p.faq__inner-content Лучше всего конвертируется целевой трафик из поисковых систем (SEO).<br>При умелом подходе неплохо можно сконвертировать трафик и из соц. сетей, но прежде чем заняться этим, узнайте, что такое SMM и с чем его “едят”.<br>Покупать трафик в плюс тоже реально, но все зависит от его качества, а также от того, насколько хорошо Вы умеете “готовить” посетителя (landing page) к переходу на целевой сайт.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Какие проекты принимают мобильный трафик?
                  .faq__inner-head-icon
                p.faq__inner-content Все наши проекты принимают мобильный трафик. Обратите внимание, что казино адаптивны, поэтому Вам не придется создавать партнерские ссылки отдельно под десктопный трафик и отдельно под мобильный.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Как подсчитывается мой доход в статистике?
                  .faq__inner-head-icon
                p.faq__inner-content Формула расчета дохода по каждому казино находится в разделе “Продукты”. По ней можно легко проверить все ли сходится.
      .faq__item
        .faq__item-head
          p.faq__item-head-text Работа по CPA-модели
          .faq__item-head-icon
        .faq__item-content
          .faq__item-grid
            .faq__item-col
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Как начать работать по CPA?
                  .faq__inner-head-icon
                p.faq__inner-content CPA (Cost Per Action) - модель рекламного сотрудничества, при которой оплачиваются только игроки, производящие определенные действия на сайте проекта.<br>Для настройки CPA-программы для Вашего аккаунта Вам нужно обратиться в нашу службу поддержки, указать Ваши источники трафика и примерные объемы трафика, которые Вы можете генерировать.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Что такое квалификация лида (игрока)?
                  .faq__inner-head-icon
                p.faq__inner-content Квалификация игрока- это автоматическое событие, происходящее при выполнении игроком в течение 7 дней после регистрации на проекте минимальных условий по CPA-программам. После квалификации игрока происходит зачисление.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Что такое холд (в разрезе CPA)?
                  .faq__inner-head-icon
                p.faq__inner-content Холд — это состояние зачислений, при котором в течение периода N дней они не доступны к выплате (заморожены). За этот период времени игрок должен получить статус «Активного игрока», а партнерская программа обязуется проверить этот статус и либо подтвердить его, либо отклонить. Помимо проверки статуса, на протяжении холда игрок проверяется на наличие нарушений правил казино и партнерской программы. Длительность периода N по умолчанию составляет 21 календарный день.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Как узнать сколько я заработал по CPA?
                  .faq__inner-head-icon
                p.faq__inner-content Актуальное состояние баланса по CPA-программам можно проверить в разделе «Платежи» > Балансы.<br>Описание колонок таблицы «Балансы» в разрезе работы по CPA-модели:<br>Сайт — проект, с которым вебмастер сотрудничает по CPA.<br>Баланс — текущий баланс по проекту, включая сумму находящуюся в холде. Сумма средств на балансе не всегда доступна к выплате. Актуальная сумма к выплате отображается в правом верхнем углу партнерского кабинета на индикаторе «К выплате».<br>Холд — сумма зачислений за игроков, которые на текущий момент находятся на проверке.<br>Удержано — общая сумма удержанных зачислений по текущей CPA-программе за весь период сотрудничества.<br>Программа — тип программы, по которой производится сотрудничество по CPA-модели.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Какие гео и источники трафика разрешены/запрещены при работе по CPA модели?
                  .faq__inner-head-icon
                p.faq__inner-content Мы не принимаем трафик со спам-рассылок, тулбаров, мотивированный и фродовый трафик. Если от посетителей казино поступит жалоба на спам - это может стать поводом для прекращения сотрудничества. Трафик принимаем со всех стран СНГ (полный перечень стран уточняйте в службе поддержки). Украинский трафик не принимается.
            .faq__item-col
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text От чего зависит размер моей ставки по CPA?
                  .faq__inner-head-icon
                p.faq__inner-content При формировании ставки по модели CPA принимаются во внимание финансовые показатели привлеченных игроков, их активность на длительном промежутке времени, а также объемы трафика. Изменение любого из этих показателей может повлечь за собой изменение размера ставки, а также изменение времени холда, в том числе и его полное списание. Методика анализа показателей и их детальный состав является частью системы антифрода, и не может быть раскрыта третьим лицам. Причины удержаний зачислений во время проверки игроков не фиксируются и не могут быть переданы вебмастеру.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Что такое зачисление по CPA?
                  .faq__inner-head-icon
                p.faq__inner-content Это зачисление на баланс вебмастера определенной суммы. В рамках работы по CPA-моделям все начисления не сразу становятся доступны к выплате, а в автоматическом режиме попадают в холд в конце суток.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Что значит подтвержденное/удержанное зачисление?
                  .faq__inner-head-icon
                p.faq__inner-content Подтверждение зачисления — это событие, в результате которого игрок расценивается активным и сумма зачисления за игрока становится доступной к выплате.<br>Удержание зачисления — это событие, в результате которого зачисление снимается с холда и списывается с баланса вебмастера.
              .faq__inner
                .faq__inner-head
                  p.faq__inner-head-text Можно ли работать по CPA с оплатой за регистрацию?
                  .faq__inner-head-icon
                p.faq__inner-content Да, мы поддерживаем работу по CPA за регистрации, но только после теста по CPA+Aggregated Baseline в рамках которого нужно привлечь более 200 игроков, прошедших квалификацию.